<%= form_with model: movie do |f| %>

  <% if movie.errors.any? %>
    <div>
      <h3><%= pluralize(movie.errors.count, "error") %> prevented this movie from being saved:</h3>
      <ul>
        <% movie.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :rating %><br>
    <%= f.select :rating, ['G', 'PG', 'PG-13', 'R', 'NC-17'], include_blank: 'Choose a rating' %>
  </p>

  <p>
    <%= f.label :description %><br>
    <%= f.text_area :description, rows: 4 %>
  </p>

  <p>
    <%= f.label :release_date %><br>
    <%= f.date_select :release_date, order: [:day, :month, :year] %>
  </p>

  <p>
    <%= f.submit %>
  </p>

<% end %>