<h1>Rotten Potatoes</h1>

<table>
  <thead>
  <tr>
    <th>Title</th>
    <th>Rating</th>
    <th>Release Date</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <% @movies.each do |movie| %>
    <tr>
      <td><%= movie.title %></td>
      <td><%= movie.rating %></td>
      <td><%= movie.release_date&.strftime('%B %d, %Y') %></td>
      <td>
        <%= link_to 'Show', movie_path(movie) %> |
        <%= link_to 'Edit', edit_movie_path(movie) %> |
        <%= link_to 'Delete', movie_path(movie), data: { turbo_method: :delete, confirm: 'Are you sure?' } %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>
<%= link_to 'Add a new movie', new_movie_path %>